extends layout

block content
	h1 Welcome to #{title}
	if user
		h3 Hello #{user.username} 
		h2
			a(href="/user/#{user.id}") Profile
		h2
			a(href="/signout") Sign Out
	else
		h4 Do we know each other?
		h3
			a(href="/login") Login
		h3
			a(href="/signup") Sign Up
